language: none

sudo: true
dist: trusty

install:
  - sudo apt-get --yes install snapd
  - sudo snap install hugo
  - git clone https://github.com/meinto/meinto.github.io.hugo.git
  - cd meinto.github.io.hugo

script:
  - /snap/bin/hugo
  - cd public

deploy:
  repo: meinto.github.io
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master