<!DOCTYPE html>
<html ⚡>
  <head>
    {{ partial "meta.html" . }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  </head>

  <body>
    <header>
      <div class="row">
        <a 
          href="{{ .Site.BaseURL }}"
          class="tab"
        >Home</a>
        <span class="right">
          <a 
            href="https://github.com/meinto"
            target="_blank"
            class="tab"
          >Github</a>
        </span>
      </div>
    </header>

    <div class="row">
      {{ partial "breadcrumb.html" . }}
    </div>

    <main>
      <div class="main row">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    <footer>
      <div class="row">
        {{ replace .Site.Copyright "{year}" (now.Format "2006") }}
        
        <span class="right">
          {{ range where (where .Site.Pages "Section" "") ".Params.hidden" "==" false }}
            <a
              href="{{ .Permalink }}"
            >{{ .Title }}</a> 
          {{ end }}
        </span>
      </div>
    </footer>

  </body>
  
</html>