{{ define "main" }}

  <article class="single">

    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <h2>Kontaktformular</h2>

    <div id="contact-form-wrapper" class="warning">Bitte aktiviere JavaScript in deinem Browser um das Kontaktformular nutzen zu können...</div>

  </article>

{{ end }}

{{ define "script" }}

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <script>
    $('#contact-form-wrapper').removeClass('warning').html(`
      <form id="contact-form" action="#" class="row">
        <fieldset class="small-12 medium-6 columns">
          <label>Name*</label>
          <input type="text" name="name">
        </fieldset>
        <fieldset class="small-12 medium-6 columns">
          <label>E-Mail*</label>
          <input type="email" name="email">
        </fieldset>
        <fieldset class="small-12 columns">
          <label>Nachricht*</label>
          <textarea name="message" />
          <button class="button">Absenden</button>
        </fieldset>
      </form>
    `)

    $(document).on('submit', '#contact-form', function(e) {
      e.preventDefault();
      var url = window.atob('aHR0cHM6Ly8yeW55Yjdxd3cxLmV4ZWN1dGUtYXBpLmV1LWNlbnRyYWwtMS5hbWF6b25hd3MuY29tL3Byb2QvbWVpbnRvLWdpdGh1Yi1pby1jb250YWN0LWZvcm0=');
      
      $('fieldset').removeClass('error');

      var name = $.trim($('[name="name"]').val()) || '';
      var email = $.trim($('[name="email"]').val()) || '';
      var message = $.trim($('[name="message"]').val()) || '';
      
      if(name.length > 0 && email.length > 0 && message.length > 0) {
        $.ajax({
          url: url,
          type: 'POST',
          crossDomain: true,
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
            name: name,
            email: email,
            message: message,
          }),
          success: function() {
            $('#contact-form-wrapper').addClass('success').html('Nachricht wurde erfolgreich übermittelt. Ich melde mich sobald ich kann...');
          }
        })
      } else {
        if (name.length == 0) {
          $('[name="name"]').parent().addClass('error');
        }

        if (email.length == 0) {
          $('[name="email"]').parent().addClass('error');
        }

        if (message.length == 0) {
          $('[name="message"]').parent().addClass('error');
        }
      }
    })
  </script>

{{ end }}